{% extends 'Website/base.html' %}
{% load static %}

{% block title %}
SSBT Mech
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Website/index.css' %}">
	<script>var token = '{% csrf_token %}';</script>
	<script type="text/javascript" src="{% static 'js/Website/index.js' %}"></script>
{% endblock %}

{% block body %}
<body class="p-0 m-0 container-fluid" style="background-color: #1a1a1a;">
	<!-- Loader -->
	<div class="loader-wrapper">
		<div class="container-animation">
			<div class="gearbox">
				<div class="overlay"></div>
				<div class="gear one">
					<div class="gear-inner">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</div>
				</div>
				<div class="gear two">
					<div class="gear-inner">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</div>
				</div>
				<div class="gear three">
					<div class="gear-inner">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</div>
				</div>
				<div class="gear four large">
					<div class="gear-inner">
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
						<div class="bar"></div>
					</div>
				</div>
			</div>
		  <h1 class="h1">Loading...</h1>
		</div>
	</div>
	
	<!-- page content -->
	<div class="page-wrapper d-none">
		<!-- banner -->
		<section style="height: 100vh; background-image: url({% static 'assets/background/Website/index.webp' %}); background-size: cover; background-repeat: no-repeat;background-position: right;">
			<!-- Large device -->
			<div class="d-none d-md-block text-left text-light" style="margin-right: 50%; position: relative; top: 50%;text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">
				<h2 class="text-center">
					SSBT's
					<br>
					College Of Engineering And Techonology
				</h2>
				<br>
				<h4 class="text-center" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">
					Mechanical Department
				</h4>
			</div>

			<!-- Small device -->
			<div class="d-block d-md-none text-center text-light pt-5 mx-2" style="height: 70vh;">
				<h2 class="text-center" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">
					SSBT's
					<br>
					College Of Engineering And Techonology
				</h2>
				<br>
				<h4 class="text-center" style="text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">
					Mechanical Department
				</h4>
				<a class="d-sm-none" href="#page">
					<div class="mouse_scroll">
						<div class="mouse">
							<div class="wheel"></div>
						</div>
						<div>
							<span class="m_scroll_arrows unu"></span>
							<span class="m_scroll_arrows doi"></span>
							<span class="m_scroll_arrows trei"></span>
						</div>
					</div>
				</a>
			</div>
		</section>

		<!-- header -->
		<section class="sticky-top">
			<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
				<a class="navbar-brand" href="/">SSBT</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About us </a>
						</li>
					</ul>
					{% if request.user.is_authenticated %}
					<form method="post" action="logout">
						{% csrf_token %}
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOGOUT</button>
					</form>
					{% else %}
						<a class="btn btn-outline-success my-2 my-sm-0" href="#login">LOGIN</a>
					{% endif %}
				</div>
			</nav>
		</section>

		<!-- page content -->
			<!-- form -->
			<div class="container-fluid p-0 m-0" id="form" style="width:100%;color: #000000; height:100vh">
				<div class="container m-auto p-auto py-5 row" style="width:100%;height:100%;">
					<!-- login -->
					<div class="col-sm-3 register-form register-left text-center text-light rounded mt-3" style="height:85vh;">
						<img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
						<h3 class="righteous">Welcome</h3>
						<hr class="bg-light" width="80%">
						<form class="container-fluid m-0 p-0 text-center" method="post" action="/accounts/login" id="login-form">
							{% csrf_token %}
							{% if messages %}
							<div class="messages">
								{% for message in messages %}
									<p {% if message.tags %} class="text-danger righteous text-center {{ message.tags }}"{% endif %} style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">* {{ message }}</p>
								{% endfor %}
							</div>
							{% endif %}
							<div class="form-group">
								<input type="text" class="form-control righteous" name="username" id="username" placeholder="Username" autocomplete="off" required>
							</div>
							<div class="form-group">
								<input type="password" class="form-control righteous" name="password" id="password" placeholder="Password" required>
							</div>
							<div class="text-right my-3">
								<button type="submit" class="btn login-btn righteous rounded-pill text-center" style="width:50%;font-weight:bold">Login</button>
							</div>
						</form>
					</div>
					<div class="col-sm-9 container bg-light text-center rounded mt-3 righteous" style="color: #000000;height:85vh;">
						<!-- tabs -->
						<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="true">Student</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="teacher-tab" data-toggle="tab" href="#teacher" role="tab" aria-controls="teacher" aria-selected="false">Teacher</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
								<p class="text-danger text-center py-3" id="loading_signup">Wait for connecting to Server</p>
							</div>

							<div class="tab-pane fade show" id="teacher" role="tabpanel" aria-labelledby="teacher-tab">
								<h3  class="py-3">Join As Teacher</h3>
								<p class="text-danger text-center">Work in Progress</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</body>
{% endblock %}